
<div class="animate__animated animate__fadeIn">
    <h2>Por Ranking</h2>
<hr>
<div class="row">
    <div class="col">
        <app-cripto-input
            (onEnter)="buscar( $event )"
            (onDebounce)="sugerencias($event)"></app-cripto-input>
    </div>
</div>

<hr>

</div>

<div *ngIf="errorTrue" class="alert alert-danger">
    No se ha encontrado ninguna moneda con el nombre {{termino}}
</div>

<div class="row" *ngIf="criptos.length > 0">
    <div class="col">
       <app-cripto-tabla [criptos]="criptos"></app-cripto-tabla>
    </div>
</div>
 

