<button class="btn btn-primary" pButton label="Cambiar a Mayúsculas" (click)="pasarAMayus()">Cambiar Nombre a Min o Mayus</button>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Ranking</th>
            <th>Icono</th>
            <th>Nombre</th>
            <th>Valor más alto en 24h</th>
            <th>Precio Actual</th>
            <th>Capitalización</th>
            <th>Más información</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let cripto of criptos">
            <td>{{cripto.market_cap_rank}}</td>
            <td>
                <img class="small-flag" [src]="cripto.image">
                
            </td>
            <td>{{cripto.name | pipePersonalizadaMayus:enMayus}}</td>
            <td> {{cripto.high_24h | number}}$ </td>
            <td>{{cripto.current_price | number}}$</td>
            <td>{{cripto.market_cap | number}}$</td>
            <td>
                <a [routerLink]="['/moneda', cripto.id]">Ver...</a>
            </td>
        </tr>
    </tbody>
</table>
