<div class="animate__animated animate__fadeIn">
    <h2>Por Exchange</h2>
<hr>
<div class="row">
    <div class="col">
        <app-exchange-input
            (onEnter)="buscar( $event )"
            (onDebounce)="sugerencias($event)"
            ></app-exchange-input>
    </div>
</div>

<hr>

</div>


<div *ngIf="errorTrue" class="alert alert-danger">
    No se ha encontrado ningun exchange con el nombre {{termino}}
</div>

<div class="row" *ngIf="exchanges.length > 0">
    <div class="col">
       <app-cripto-exchanges [exchanges]="exchanges"></app-cripto-exchanges>
    </div>
</div>

