<h2>Proyecto Angular</h2>
        <hr>
        <ul class="list-group">
            <li class="list-group-item" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >Buscar Moneda</li>
            <li class="list-group-item" routerLink="exchange" routerLinkActive="active">Buscar Exchange</li>
            <li class="list-group-item" routerLink="login" routerLinkActive="active">Login</li>
            <li class="list-group-item" routerLink="formulario" routerLinkActive="active">Formularios</li>            
        </ul>
